body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

main {
    width: 48%;
    /* Adjust the width as needed, leaving some space for margins */
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 20px;
}

h3 {
    color: #555;
    margin-top: 10px;
    /* Reduce the top margin */
}

h3+p {
    margin-left: 20px;
    /* Adjust the indentation as needed */
    margin-top: 5px;
    /* Reduce the top margin */
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

footer {
 background-color: #f2f2f2;
 padding: 10px;
 text-align: left;
 position: absolute;
 bottom: 0;
 width: 100%;
}

footer p {
 margin: 0;
}

aside {
    width: 48%;
    /* Adjust the width as needed, leaving some space for margins */
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }
    main,
    aside {
        width: 100%;
        margin-top: 20px;
    }
}


